<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onemt.view.mapper.ArticleMapper">

	<sql id="viewColumn">
		id,
		mediaCategoryId as categoryId,
		mediaId,
		sourceUrl,
		publishTime,
		fetchTime,
		createTime
	</sql>

<!--	<resultMap id="articleResultMap" type="com.onemt.view.domain.ArticleData">
		<result property="categoryId" column="mediaCategoryId"/>
		<result property="isFeatured" column="isFeatured" javaType="java.lang.Boolean"/>
	</resultMap>-->


    <select id="selectArticleById" parameterType="long" resultType="Article">
        SELECT
        	<include refid="viewColumn"/>
        FROM
			crawler_article
		WHERE
			id = #{id}
    </select>

	<select id="selectArticleByBridge" parameterType="AritcleCondition" >
		SELECT
			<include refid="viewColumn"/>
		FROM
			crawler_article
		WHERE 1=1
			<if test="null != getMediaBridge()">
				AND
				getMediaBridge()
			</if>

			<if test="null != getFetchTimeBridge()">
				AND
				getFetchTimeBridge()
			</if>
	</select>




</mapper>