<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onemt.view.mapper.ArticleMapper">

    <sql id="viewColumn">
		id,
		mediaCategoryId as categoryId,
		mediaId,
		sourceUrl,
		publishTime,
		fetchTime,
		createTime
	</sql>

<!--    	<resultMap id="articleResultMap" type="com.onemt.view.domain.ArticleData">
            <result property="createTime" jdbcType=""
        </resultMap>-->


    <select id="selectArticleById" parameterType="long" resultType="Article">
        SELECT
        <include refid="viewColumn"/>
        FROM
        crawler_article
        WHERE
        id = #{id}
    </select>

    <select id="selectArticleByBridge" parameterType="AritcleCondition" resultType="Article">
        SELECT
        <include refid="viewColumn"/>
        FROM
        crawler_article
        WHERE
        1=1
        <if test="null != articleList">
            AND
            id IN
            <foreach collection="articleList" index="index" item="articleId" open="(" close=")" separator=",">
                #{articleId}
            </foreach>
        </if>
        <if test="null != categoryList">
            AND
            mediaCategoryId IN
            <foreach collection="categoryList" index="index" item="categoryId" open="(" close=")" separator=",">
                #{categoryId}
            </foreach>
        </if>
        <if test="null != mediaList">
            AND
            mediaId IN
            <foreach collection="mediaList" index="index" item="mediaId" open="(" close=")" separator=",">
                #{mediaId}
            </foreach>
        </if>
        AND
        fetchTime
        <choose>
            <when test="endFetchTime > 0">
                 BETWEEN #{fetchTime} AND #{endFetchTime}
            </when>
            <otherwise>
                 >= #{fetchTime}
            </otherwise>
        </choose>

        <if test="publishTime > 0">
            AND publishTime
            <choose>
                <when test="endPublishTime > 0">
                    BETWEEN #{publishTime} AND #{endPublishTime}
                </when>
                <otherwise>
                    >= #{publishTime}
                </otherwise>
            </choose>
        </if>

        <if test="null != orderBy">
            ORDER BY #{orderBy}
        </if>
    </select>


</mapper>