<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onemt.view.mapper.ArticleMapper">

	<resultMap id="articleResultMap" type="com.onemt.view.domain.ArticleData">
		<result property="categoryId" column="mediaCategoryId"/>
		<result property="isFeatured" column="isFeatured" javaType="java.lang.Boolean"/>
	</resultMap>

    <select id="selectArticleById" parameterType="java.lang.Long" resultMap="articleResultMap">
        SELECT * FROM crawler_article WHERE id = #{id};
    </select>

    <select id="selectArticleByMediaId" parameterType="com.onemt.view.domain.ArticleCondition" resultMap="articleResultMap">
		SELECT * from crawler_article WHERE mediaId = #{mediaId} and fetchTime > #{fetchTime}
		<if test="limit != 0">
			limit
			<if test="offset != 0">
				#{offset},
			</if>
				#{limit}
		</if>
    </select>


</mapper>